#temple {
    height: 300px;
    top: 200px;
    left: 150px;
    position: absolute;
    z-index: 2;

}

#bigtemple {
    height: 800px;
    top: 170px;
    left: 0px;
    position: absolute;
    animation-name: fade;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 1
}

#rainbow {
    font-family: "Comic Sans MS";
    animation-name: rainbow;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 2
}

#title {
    animation-name: embiggen, rainbow;
    animation-duration: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 2
}

@keyframes rainbow {
    0% {
        background-color: red;
    }
    10% {
        background-color: orange;
    }
    20% {
        background-color: yellow;
    }
    30% {
        background-color: lawngreen;
    }
    50% {
        background-color: turquoise;
    }
    60% {
        background-color: deepskyblue;
    }
    70% {
        background-color: blue;
    }
    80% {
        background-color: indigo;
    }
    90% {
        background-color: deeppink;
    }
    100% {
        background-color: red;
    }
}

@keyframes embiggen {
    0% {
        font-size: 20px;
    }
    50% {
        font-size: 50px;
    }
    100% {
        font-size: 20px;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    80% {
        opacity: .1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
