#cage {
    width: 500px;
    height: 500px;
    position: absolute;
    background: transparent;
    border: solid black;
}

#temple {
    height: 200px;
    top: 125px;
    left: 125px;
    position: absolute;
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#rainbow {
    animation-name: rainbow;
    animation-duration: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#title {
    animation-name: embiggen, rainbow;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
    0% {
        background-color: red;
    }
    10% {
        background-color: orange;
    }
    20% {
        background-color: yellow;
    }
    30% {
        background-color: lawngreen;
    }
    50% {
        background-color: turquoise;
    }
    60% {
        background-color: deepskyblue;
    }
    70% {
        background-color: blue;
    }
    80% {
        background-color: indigo;
    }
    90% {
        background-color: deeppink;
    }
    100% {
        background-color: red;
    }
}

@keyframes embiggen {
    0% {
        font-size: 20px;
        font-family: "Comic Sans MS";
    }
    50% {
        font-size: 50px;
        font-family: "Comic Sans MS";
    }
    100% {
        font-size: 20px;
        font-family: "Comic Sans MS";
    }
}

@keyframes fade {
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}
